.env
.env.*
!.env.example
.git
.gitignore
.gitattributes
vendor
node_modules
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.md
README.md
DEPLOYMENT.md
tests
.phpunit.result.cache
docker-compose.yml
docker-compose.*.yml
.DS_Store
Thumbs.db
